@font-face {
    font-family: vagner;
    src: url(../fonts/Vanger.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../assets/fondo-daddy2.jpg");
    font-family: vagner;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.button_yellow {
    @extend %extend-botones;
    width: map-get($tamanios, 150 );
    transition-duration: 0.4s;
    display: inline-block;
    font-size: map-get($tamanios, 30);
    font-weight: bold;
    align-self: center;
    color: $color-black-solid;
    background-color: map-get($colores, color-amarillo );
    

    &:hover {
        background-color: map-get($colores, color color-amarillo-oscuro );
    }

    a {
        text-decoration: none;
        color: map-get($colores, color-negro );
    }
}