$colores: (
    color-amarillo: rgb(204, 201, 19),
    color-amarillo-oscuro: rgb(177, 166, 14),
    color-amarillo-claro: rgb(235, 229, 124),
    color-amarillo-cabecera: rgb(233, 218, 14),
    color-negro: #000000cc,
    color-negro-solido: #000,
    color-blanco: #fff,
    color-blanco-oscuro: rgb(241, 241, 241),
    color-gris: rgb(44, 42, 42),
    color-gris-cabecera: rgba(42, 42, 40, 255),
    color-gris-cabecera1: rgb(26, 26, 26)
);

$tamanios: (
    1000: 1000px,
    600: 600px,
    500: 500px,
    400: 400px,
    380: 380px,
    250: 250px,
    150: 150px,
    120:120px,
    100:100px,
    90:90px,
    80:80px,
    70:70px,
    60:60px,
    50:50px,
    40:40px,
    30:30px,
    20:20px,
    10:10px,
    5:5px
);